* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Homebody {
  min-height: 82vh;
  display: flex;
  justify-content: space-between;
  padding: 40px;
  margin: 0 auto;
  background-color: #f9f9f9;
}

.left {
  width: 250px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.right {
  width: 250px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.right img {
  height: 100px;
  width: 100px;
}

.middle {
  width: 450px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}
