* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Homebody {
  min-height: 82vh;
  display: flex;
  justify-content: space-between;
  padding: 40px;
  background-color: rgb(211, 223, 217);
}

.left {
  width: 250px;
}

.right {
  width: 250px;
}

.right img {
  height: 100px;
  width: 100px;
}

.middle {
  width: 250px;
  text-align: center;
}
